//Colors

$primary-color: #C41E25;
$secondary-color: #9F060B;
$tertiary-color: #680407;
$light-color: #AF8286;
$dark-color: #020202;
$dark-gray: #5D5D5D;
$light-gray: #9D9A9B;

// Fonts
$small: 16px;
$medium: 20px;
$big: 48px;

$large-padding: 10px 15px;
$big-padding: 20px 30px;

$default-margin-top: 30px;
$big-margin-top: 90px;

$border-radius: 4px;