@import './modules/_variables';
@import './modules/_mixins';

body {
    background-color: #FFF;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
}

img {
    max-width: 100%;
}

figure {
    position: relative;
    max-height: 100%;
    margin: 0px;
}

.full-height {
    min-height: 100vh;
}


.btn {
    padding: $large-padding;
    position: relative;
    color: $dark-color;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 2px;
    box-sizing: border-box;
    &:before{
        content: '';
        position: absolute;
        width: 100%;
        height: 40%;
        left: 0px;
        bottom: 0px;
        z-index: -1;
        background-color: $primary-color;
        transition: all 0.15s ease-out;
    }
    &:hover::before{
        height: 100%;
    }
}

.grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}

.menu {
    position: fixed;
    top: 2em;
    right: 2em;
    border-radius: 50%;
    height: 70px;
    width: 70px;
    border: solid 1px $primary-color;
    @include center-vertical-horizontal;
    background-color: #FFF;
    @include transition;
    transition-duration: 0.15s;
    cursor: pointer;
    img {
    height: 50px;
    }
}

.menu-screen {
    background-color: white;
    height: 100vh;
    width: 100vw;
    position: fixed;
    z-index: 100;
    top: -101vh;
    @include center-vertical-horizontal;
    @include transition;

    .close {
        position: absolute;
        top: 2em;
        right: 2em;
        img {
            height: 45px;
        }
    }

    &.active{
        top: 0;
    }

    a {
        display: block;
        text-decoration: none;
        @include text-center;
        position: relative;
        margin-top: 1em;
        &:first-of-type { margin-top: 0;}
        .main {
            display: block;
            font-size: 2em;
            color: $tertiary-color;
        }
        span:not(.main){
            color: $primary-color;
            opacity: 0;
            @include transition;
            transition-duration: 0.2s;
        }
        &::after {
            content: '';
            position: absolute;
            top: 1.2em;
            left: 0;
            width: 100%;
            height: 2px;
            background-color: $light-color;
            @include transition;
            transition-duration: 0.2s;
            transform: scale(0);
        }
        &:hover::after {
            transform: scale(1);
        }
        &:hover span:not(.main){
            opacity: 1;
        }
    }
}


.grid-main-area {
    display: grid;
    margin-top: $big-margin-top;
    margin-bottom: $big-margin-top;
    grid-template-columns: repeat(9, 1fr);
    grid-template-areas:
    "title title title title title title title title title"
    "image image image image image image image image image";
    .text {
        grid-area: title;
        @include main-text;
        }
    }
    .image {
        grid-area: image;
    }


.container {
    grid-column: span 12;
    padding: $big-padding;
}

.cover {
    @include absolute-cover;
    min-height: 500px;
    background-size: cover;
    background-position: center;
    
    &.parallax{
        background-attachment: fixed;
        background-image: url(../../public/images/2.jpeg);
        position: relative;
        p {
            @include caption;
            display: block;
            width: 100%;
            left: 0px;
            box-sizing: border-box;
            background-color: $secondary-color;
            @include text-right;
            span {
                display: block;
                font-size: 0.5em;
                font-weight: 200;
                margin-top: 6px;
            }
        }
    }
}

.slider {
    .controls {
        text-align: right;
        margin-bottom: 10px;
        padding-right: 2em;
        display: block;
        .right-arrow,.left-arrow {
            height: 70px;
            @include transition;
            transition-duration: 0.15s;
            cursor: pointer;
            &:hover{
                opacity: 0.2;
            }
        }
        .left-arrow {
            margin-right: 1.5em;
        }
    }
    .image {
        min-height: 100vh;
        display: flex;
    }
    header {
        background-color: $tertiary-color;
        color: #FFF;
        padding: $big-padding;
        transform: translateY(40px);
        width: 90%;
        box-sizing: border-box;
        margin: 0 auto;
        z-index: 10;
        position: relative;
        h2{
            margin: 0;
        }
        .separator{
            text-align: right;
            padding-right: 150px;
            position: relative;
            color: #FFF;
            &::after{
                position: absolute;
                content: '';
                height: 3px;
                width: 140px;
                background-color: currentColor;
                top: 0.7em;
                right: 0px;
            }
        }
    }
}

#slider-text-content {
    @include transition;
    &.hide {
        opacity: 0;
        transform: translateX(100px);
    }
}
#slider-image {
    @include transition;
    &.hide {
        opacity: 0;
    }
}

.mission {
    align-items: center;
    justify-content: center;
    .container {
        @include main-text;
        font-size: 1.1em;
        figure {
            float: right;
            margin-left: 20px;
        }
        p {
            line-height: 2em;
            &:nth-of-type(1) {
                margin-bottom: 3em;
                position: relative;
                &::after{
                    content: '';
                    background-color: $tertiary-color;
                    position: absolute;
                    bottom: -1.5em;
                    height: 5px;
                    width: 70%;
                    z-index: -1;
                }
            }
        }
    }
}

#mapa {
    width: 100%;
    min-height: 600px;
    margin-top: $big-margin-top;
    z-index: -1;
    position: relative;
}

.social {
    margin-top: $big-margin-top;
    margin-bottom: $big-margin-top;
    @include text-center;
    p.title{
        font-weight: 200;
        font-size: 2.5em;
    }
    a{
        display: block;
        min-width: 150px;
        margin: 1em auto;
    }
}

@media (min-width: 960px) {
    .container {
        grid-column: 2 / 12;
    }

    .grid-main-area {
        display: grid;
        grid-template-columns: repeat(9, 1fr);
        grid-template-areas:
        "title title title image image image image image image"
    }

    .slider {
        align-items: center;
        header {
            transform: translateX(100px);
            width: 100%;
            min-height: 350px;
        }
    }

    .social{
        a{
            display: inline-block;
            margin-top: 0px;
            margin-right: 90px;
            &:last-of-type{
                margin-right: 0px;
            }
        }
    }
}