img {
    max-width: 100%;
}

.grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}
.main-text {
    grid-area: title;
}
.main-image {
    grid-area: image;
}

.grid-main-area {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-template-areas:
    "title title title title title title title title title"
    "image image image image image image image image image";
}

@media (min-width: 960px) {
    .grid-main-area {
        display: grid;
        grid-template-columns: repeat(9, 1fr);
        grid-template-areas:
        ". title title image image image image ."
    }
}